<div class=sampling>
  <%= form_for :sampling, url: samplings_path do |f| %>
    <%= f.hidden_field :source_id, value: source.node_id %>

    <div class=field>
      <%= f.collection_select :result_id, possible_results, :node_id, :title %>
    </div>

    <%= f.submit 'Sample it' %>
  <% end %>
</div>
