<div class=node>
  <h1><%= @node.title %></h1>

  <%= render partial: 'cratings/button',
    locals: {node: @node} %>

  <%= render partial: 'samplings/button',
    locals: {node: @node, crate: @crate} %>

  <div id=sources>
    <h2>Samples</h2>

    <%= render partial: 'nodes/list',
      locals: {nodes: @sources, empty_msg: 'No sources.'} %>
  </div>
</div>
