<% unless viewer.crate.include?(node) %>
  <div class=crating>
    <%= form_for :crating, url: cratings_path do |f| %>
      <%= f.hidden_field :node_id, value: node.id %>
      <%= f.submit 'Add to crate' %>
    <% end %>
  </div>
<% end %>
