<div class=sampling>
  <%= form_for :sampling, url: samplings_path, html: {class: 'pure-form'} do |f| %>
    <%= f.hidden_field :result_id, value: sound.id %>

    <% if sampleable.empty? %>
      No samples to add.
    <% else %>
      <%= f.collection_select :source_id, sampleable, :id, :title %>

      <%= f.submit 'Add sample', class: 'pure-button' %>
    <% end %>
  <% end %>
</div>
