<div class=sampling>
  <%= form_for :sampling, url: samplings_path do |f| %>
    <%= f.hidden_field :result_id, value: sound.id %>

    <% if sampleable.empty? %>
      No samples to add.
    <% else %>
      Add sample:
      <%= f.collection_select :source_id, sampleable, :id, :title %>
      <%= f.submit 'Submit' %>
    <% end %>
  <% end %>
</div>
